<section class="contenedor seccion">
    <div class="text"><br>
        <h2 class="fw-300 centrar-texto"><b>Nosotros</b></h2>
    </div>
    <div class="container">
        <div class="item"><br><h2>Misión</h2><br><br></div>
    </div>
    <div class="container">
        <div class="item" style="font-size: medium;">Proporcionar un buen servicio de mantenimiento automotriz en general, conservando los autos de nuestros clientes en un estado de operación eficiente y seguro, satisfaciendo sus necesidades y expectativas en el mejor tiempo posible. A sabiendas de que usted y su vehículo son lo más importante.</div>
    </div>
    <div class="container">
        <div class="item"><br><h2>Visión</h2><br><br></div>
    </div>
    <div class="container">
        <div class="item" style="font-size: medium;">Llegar a ser el taller líder y confiable a nivel nacional manteniendonos como los mejores en el mercado, ofreciendo el servicio para automóviles modernos y unidades diésel, siendo reconocidos por la calidad en nuestros servicios, honestidad y precios justos.</div>
    </div>
    <div class="container">
        <div class="item"><br><h2>Valores</h2><br><br></div>
    </div>
    <div class="container">
        <div class="item">Calidad</div>
        <div class="item">Respeto</div>
        <div class="item">Compromiso</div>
    </div>
    <div class="container">
        <div class="item">Lealtad</div>
        <div class="item">Honestidad</div>
        <div class="item">Rentabilidad</div>
    </div>
</section>
    
<section class="contenedor seccion">
    <footer class="site-footer">
        <div class="contenedor-footer">
            <p class="copyright">BMW Mochis Todos los Derechos Reservados 2021 &copy; </p>
        </div>
    </footer>
</section>