<section class="contenedor seccion">
    <div class="text"><br>
        <h2 class="fw-300 centrar-texto"><b>Registrarse</b></h2>
    </div>
<div class="container">
    <div class="item">
        <div class="form">
            <div class="formulario">

                <p><label for="usuario">Nombre de Usuario</label>
                <input type="text" id="usuario" placeholder="Nombre" [(ngModel)]="usuario.nombre"><br>
                </p>
                <p><label for="email">Email</label>
                <input type="email" id="email" placeholder="Ejemplo@correo.com" [(ngModel)]="usuario.email"><br>
                </p>
                <p><label for="password">Contraseña</label>
                <input type="password" id="password" placeholder="Contraseña" [(ngModel)]="usuario.password"><br>
                </p>
                <button (click)="guardarUsu()">Registrarse</button>     
            </div>  
        </div>
    </div>                           
</div>


</section>

<section class="contenedor seccion">
    <footer class="site-footer">
        <div class="contenedor-footer">
            <p class="copyright">BMW Mochis Todos los Derechos Reservados 2021 &copy; </p>
        </div>
    </footer>
</section>