<section class="contenedor seccion">
    <div class="text"><br>
        <h2 class="fw-300 centrar-texto"><b>Servicios</b></h2>
    </div>
    <div class="container">
        <div class="item"><h1>🛠️</h1> Afinación</div>
        <div class="item"><h1>🔩</h1> Amortiguadores</div>
        <div class="item"><h1>🔋</h1> Baterias</div>
    </div>
    <div class="container">
        <div class="item"><h1>⚡</h1> Autoelectrico</div>
        <div class="item"><h1>🧰</h1> Revisión General</div>
        <div class="item"><h1>🚗</h1> Asistencia</div>
    </div>
    <div class="container">
        <div class="item"><br>¡Has tu Cita ahora! <br><br></div>
    </div>
    <div class="container">

        <div class="item"><div class="item"><a href="#" routerLink='../agendacita' style="text-decoration:none"><button class="acolor">Agenda una Cita</button></a></div></div>

    </div>
    <div class="container">
        <div class="item"><br>O cominicate al: 33 3808 4236 ☎️<br> <br></div>
    </div>
</section>

<section class="contenedor seccion">
    <footer class="site-footer">
        <div class="contenedor-footer">
            <p class="copyright">BMW Mochis Todos los Derechos Reservados 2021 &copy; </p>
        </div>
    </footer>
</section>