<section class="contenedor seccion">
    <div class="text"><br>
        <h2 class="fw-300 centrar-texto"><b>Mi(s) Vehiculo(s)</b></h2>
    </div>
    <div class="container">
        <div class="item"><h2>Placas</h2></div>
        <div class="item"><h2>Nombre</h2></div>
        <div class="item"><h2>Marca</h2></div>
        <div class="item"><h2>Modelo</h2></div>
        <div class="item"><h2>Color</h2></div>
    </div>
    <div class="container">
        <div class="item" style="font-size: large; color: black; background: white;">TDK1176</div>
        <div class="item" style="font-size: large; color: black; background: white;">Serie 1 Sedán Sport Line</div>
        <div class="item" style="font-size: large; color: black; background: white;">BMW</div>
        <div class="item" style="font-size: large; color: black; background: white;">2021</div>
        <div class="item" style="font-size: large; color: black; background: white;">Azul</div>
    </div>
</section>
    <section class="contenedor seccion">
    <div class="container">
        <div class="item"><h2>Reparación</h2></div>
    </div>
    <div class="container">
        <div class="item"><h2>Fecha de Inicio</h2></div>
        <div class="item"><h2>Fecha Final</h2></div>
        <div class="item"><h2>KM</h2></div>
        <div class="item"><h2>Averia</h2></div>
        <div class="item"><h2>Status</h2></div>
        <div class="item"><h2>Observación</h2></div>
    </div>
    <div class="container">
        <div class="item" style="font-size: large; color:black; background: white">22/02/2021</div>
        <div class="item" style="font-size: large; color:black; background: white">-</div>
        <div class="item" style="font-size: large; color:black; background: white">12550</div>
        <div class="item" style="font-size: large; color:black; background: white">Motor</div>
        <div class="item" style="font-size: large; color:black; background: white">En Reparacion</div>
        <div class="item" style="font-size: large; color:black; background: white">No enciende</div>
    </div>
    </section>
    <section class="contenedor seccion">
    <div class="container">
        <div class="item"><h2>Avance</h2></div>
    </div>
    <div class="container">
        <div class="item">80%</div>
    </div>
</section>
    
<section class="contenedor seccion">
    <footer class="site-footer">
        <div class="contenedor-footer">
            <p class="copyright">BMW Mochis Todos los Derechos Reservados 2021 &copy; </p>
        </div>
    </footer>
</section>