
<style>
    *{
        font-size: x-large;
        
    }
    h1{
        font-size: xx-large;
    }
    a{
        color: white;
        text-decoration: none;
    }
    .enc{
              background: linear-gradient(-45deg, #d9eeffb7,#ffffff9c);
        color: white;
    }
    
    .cont{
        color: white;
        background-color: black;
        
    }
    .container{
        display: flex;
        font-size: x-large;
    }
    .item{
        padding:16px;
        text-align: left;
        flex-grow: 1;
        flex-basis: 0;

    }
</style>
<div class="enc">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="container">
        <div class="item">
            <a href="#">
<img  
        width="500"
        alt="BMW Mochis Logo"
        src="../assets/img/BMWMOCHIS.png"/>
</a>
</div>
</div>
<!--<h1 style="text-align: center;">BMW MOCHIS</h1>
<p style="text-align: center;">Taller Mecanico Automotriz</p>
-->
</div>
<div class="cont">
<app-menu></app-menu>
</div>
<router-outlet></router-outlet>